* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto", "Montserrat", "Oswald";
}
body {
    background-color: #f7f1ed;
}
.title-mobile h1 {
    text-align: center;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    background: #8ca9d3;
    align-items: center;
}

.container {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #f0eff4;
    margin: 6px 0;
    transition: 0.5s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

nav {
    position: absolute;
    left: 0;
    top: 70px;
    background-color: #f2bfb4;
    height: 40vh;
    overflow: hidden;
    width: 0;
}
nav ul {
    position: relative;
    list-style-type: none;
    padding: 20px;
}

.title-desktop {
    display: none;
}

.title-mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 10vw;
}
.h2_frame {
    padding: 5px;
}

a :link {
    color: goldenrod;
}

a :hover {
    color: red;
}

.calendar {
    display: inline-block;
    cursor: pointer;
    width: 45px;
    height: 49px;
    padding: 5px;
}
.calendar g path {
    fill: #f0eff4;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: auto;
    height: 50vw;
}

figure {
    padding: 5px;
    margin-bottom: 15px;
}

.frame {
    background: #8ca9d3;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.frame-text {
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 1px 1px 0px #7a7a7a;
    padding: 5px;
    line-height: 1em;
}

.title-middle {
    margin-top: 10vw;
    margin-bottom: 5vw;
    padding: 5px;
    text-align: center;
}

.container-plates {
    font-family: "Roboto", "Montserrat", "Oswald";
    font-size: 1.1em;
}
.container-plates h2 {
    text-align: center;
}

.container-beer {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-family: "Roboto", "Montserrat", "Oswald";
    font-size: 1.1em;
}
.cards {
    margin: auto;
    width: auto;
}

.choix {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.container-map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10vw;
    padding: 5px;
}
iframe {
    margin-top: 10vw;
    margin-bottom: 10vw;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 80%;
    min-height: 450px;
}

.schedule {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 10vw;
    margin-bottom: 10vw;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 30px 30px 30px 30px;
    border-style: solid;
    background-color: #febeb0;
    color: #f7f1ed;
    text-shadow: 1px 1px 0px #7a7a7a;
}
.schedule-title {
    align-items: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.daysofweek {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.warning {
    display: inline-flex;
    padding-top: 10px;
}

footer {
    height: 70px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: #8ca9d3;
}

.mymail {
    color: whitesmoke;
    font-weight: bold;
    font-size: 400;
    text-shadow: 2px #f0eff4;
    margin-top: 5px;
    padding: 5px 5px 10px 10px;
}

.mymail a:link {
    padding-left: 3px;
    color: #fedd89;
}
.mymail a:hover {
    color: red;
}

@media screen and (min-width: 481px) {
    * {
        font-size: clamp(1.4rem, 2vw, 3.5rem);
    }

    .title-desktop {
        display: flex;
        color: white;
        font-size: auto;
        font-weight: bold;
    }

    .title-mobile {
        display: none;
    }

    header {
        height: 90px;
        display: flex;
        justify-content: space-between;
        background: #8ca9d3;
        align-items: center;
    }

    .container {
        display: inline-block;
        cursor: pointer;
        padding: 5px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 45px;
        height: 5px;
        background-color: #f0eff4;
        margin: 6px 0;
        transition: 0.5s;
    }

    /* Rotate first bar */
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    /* Fade out the second bar */
    .change .bar2 {
        opacity: 0;
    }

    /* Rotate last bar */
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    nav {
        position: absolute;
        left: 0;
        top: 70px;
        background-color: #f2bfb4;
        height: 40vh;
        overflow: hidden;
        width: 0;
    }
    nav ul {
        position: relative;
        list-style-type: none;
        padding: 20px;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        width: auto;
        height: 30vw;
    }

    .container-beer {
        display: flex;
        flex-direction: block;
        justify-content: space-between;
        margin-bottom: 15px;
        font-family: "Roboto", "Montserrat", "Oswald";
        font-size: 1.1em;
    }
    .cards {
        display: block;
        flex-direction: row;
        width: calc(100% / 3);
        justify-content: space-between;
    }

    .h2_frame {
        padding: 5px;
        text-align: center;
    }

    .frame {
        margin-top: 10vw;
        padding-left: 5px;
        padding-right: 5px;
        min-width: 80%;
        min-height: 550px;
    }

    .frame-text {
        text-align: justify;
        vertical-align: middle;
        align-items: center;
    }
    .schedule-title {
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .schedule {
        display: flex;
        flex-direction: column;
        max-width: 75%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .schedule-title {
        align-items: center;
        text-align: center;
    }

    .daysofweek {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    footer {
        max-height: 110px;
    }
}
